# Evaluate the model

In [8]:
import warnings
warnings.filterwarnings('ignore', category=FutureWarning)
import time
import os
import librosa
import pandas as pd

from hparams import create_hparams
from model import Model

#### Set parameters

In [9]:
model_name = 'unet'
model_path = 'path-to-model'

test_dir = 'path-to-test-dir'

hparams = create_hparams()
hparams.hard_mask = False
hparams.extract = True

outputs = ['drums', 'bass', 'other', 'vocals', 'accompaniment']
model = Model(hparams)

Model name: U_Net
24,048,389 total parameters.
24,048,389 training parameters.

#### test example

In [10]:
mix, _ = librosa.load(os.path.join(test_dir, 'mixture.wav'), sr=hparams.SR, duration=None)
gt = [librosa.load(os.path.join(test_dir, output)+'.wav', sr=hparams.SR, duration=None)[0] for output in outputs]

#### evaluation metrics

In [11]:
sdr, sir, sar = model.evaluate(mix, gt, model_path)
song = {}
for idx, output in enumerate(outputs):
    song[output] = {
        'sdr': sdr[idx],
        'sir': sir[idx],
        'sar': sar[idx]
    }

In [12]:
pd.DataFrame(song)

        drums      bass     other     vocals  accompaniment
sdr  2.042593  3.852706 -4.353316   5.393128       4.144378
sir  6.298009  6.607235 -3.086964  10.171800       5.392390
sar  5.001290  7.992619  6.439231   7.548856      11.271307